In [1]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
     |████████████████████████████████| 12.4 MB 20.2 MB/s eta 0:00:01
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 54.7 MB/s eta 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     |████████████████████████████████| 345 kB 58.8 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     |████████████████████████████████| 505 kB 58.5 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /config/.local/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /config/.local/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: numpy, tzdata, pytz, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/config/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.24.4 pandas-2.0.3 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({'col1' : [1,2,3,4,5],
              'col2' : [45,56,67,34,34],
              'col3': "sudhanshu kumar krish ineuron one".split()
     })

In [4]:
"sudhanshu kumar krish ineuron one".split()

['sudhanshu', 'kumar', 'krish', 'ineuron', 'one']

In [5]:
df

   col1  col2       col3
0     1    45  sudhanshu
1     2    56      kumar
2     3    67      krish
3     4    34    ineuron
4     5    34        one

In [6]:
df['col4'] = df['col1']**2

In [7]:
df

   col1  col2       col3  col4
0     1    45  sudhanshu     1
1     2    56      kumar     4
2     3    67      krish     9
3     4    34    ineuron    16
4     5    34        one    25

In [8]:
df['col5'] = df['col3'].str[0]

In [9]:
df

   col1  col2       col3  col4 col5
0     1    45  sudhanshu     1    s
1     2    56      kumar     4    k
2     3    67      krish     9    k
3     4    34    ineuron    16    i
4     5    34        one    25    o

In [10]:
def test(a) :
    return a**2

In [11]:
df['col4_4']  = df['col1'].apply(test)

In [12]:
df

   col1  col2       col3  col4 col5  col4_4
0     1    45  sudhanshu     1    s       1
1     2    56      kumar     4    k       4
2     3    67      krish     9    k       9
3     4    34    ineuron    16    i      16
4     5    34        one    25    o      25

In [13]:
def test1(a):
    if a =='s':
        return 's'
    else:
        return 'z'

In [14]:
df['col6'] = df['col5'].apply(test1)

In [15]:
df

   col1  col2       col3  col4 col5  col4_4 col6
0     1    45  sudhanshu     1    s       1    s
1     2    56      kumar     4    k       4    z
2     3    67      krish     9    k       9    z
3     4    34    ineuron    16    i      16    z
4     5    34        one    25    o      25    z

In [16]:
df['col6_6'] = df['col5'].apply(lambda a : 's' if a == 's' else 'z')

In [17]:
df

   col1  col2       col3  col4 col5  col4_4 col6 col6_6
0     1    45  sudhanshu     1    s       1    s      s
1     2    56      kumar     4    k       4    z      z
2     3    67      krish     9    k       9    z      z
3     4    34    ineuron    16    i      16    z      z
4     5    34        one    25    o      25    z      z

In [18]:
df['col7'] = df['col3'].apply(len)

In [19]:
df

   col1  col2       col3  col4 col5  col4_4 col6 col6_6  col7
0     1    45  sudhanshu     1    s       1    s      s     9
1     2    56      kumar     4    k       4    z      z     5
2     3    67      krish     9    k       9    z      z     5
3     4    34    ineuron    16    i      16    z      z     7
4     5    34        one    25    o      25    z      z     3

In [20]:
import math

In [21]:
df['col8'] = df['col2'].apply(math.log)

In [22]:
df

   col1  col2       col3  col4 col5  col4_4 col6 col6_6  col7      col8
0     1    45  sudhanshu     1    s       1    s      s     9  3.806662
1     2    56      kumar     4    k       4    z      z     5  4.025352
2     3    67      krish     9    k       9    z      z     5  4.204693
3     4    34    ineuron    16    i      16    z      z     7  3.526361
4     5    34        one    25    o      25    z      z     3  3.526361

From ChatGPT:

NumPy (Numerical Python) is a powerful Python library used for numerical computing. It provides support for large, multi-dimensional arrays and matrices, along with a collection of mathematical functions to operate on these arrays efficiently. NumPy is the foundation of many other Python scientific computing libraries, such as SciPy, pandas, and scikit-learn.

With NumPy, you can perform various operations on arrays, like mathematical, logical, shape manipulation, sorting, selecting, input/output, and linear algebra operations. It's widely used in fields such as physics, astronomy, engineering, finance, and data science for its efficiency and ease of use in handling numerical data.

In [23]:
%pip install numpy

Requirement already satisfied: numpy in /config/.local/lib/python3.8/site-packages (1.24.4)
Note: you may need to restart the kernel to use updated packages.

In [24]:
import numpy as np

In [25]:
l = ["sudh" , 1,2,3,4]

In [26]:
type(l)

list

In [27]:
np.array(l)

array(['sudh', '1', '2', '3', '4'], dtype='<U21')

In [28]:
type(np.array(l))  #ndarray mean n-dim array

numpy.ndarray

In [29]:
a1 = np.array([3,4,5,6,3.0])

In [30]:
a1  #as we used 3.0, therefore all values converted into float

array([3., 4., 5., 6., 3.])

In [31]:
a = np.array([[1,2] , [3,4]])

In [32]:
a

array([[1, 2],
       [3, 4]])

In [33]:
a[1][1]

4

In [34]:
a1[1]

4.0

In [35]:
a2 = np.array([1,2,3,4],ndmin = 4) #ndim = 0 by default

In [36]:
a2

array([[[[1, 2, 3, 4]]]])

In [37]:
a2[0][0][0][0]

1

In [38]:
a

array([[1, 2],
       [3, 4]])

In [39]:
np.asarray([1,2,3,4,5]) #np.array,np.asarray & np.asanyarray all are almost same with minor differences

array([1, 2, 3, 4, 5])

In [40]:
np.asanyarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [41]:
np.mat([1,2,3,4,5])   #mat means matrices. It has minimum 2 dimension

matrix([[1, 2, 3, 4, 5]])

In [42]:
a = [1,2,3,4,5]
np.asarray(a)   #coverted list into array

array([1, 2, 3, 4, 5])

In [43]:
np.mat(a)

matrix([[1, 2, 3, 4, 5]])

In [44]:
np.asanyarray(a)   #It converts only if already not an array (a is a list so converted)

array([1, 2, 3, 4, 5])

In [45]:
np.asanyarray(np.mat(a)) #already an array(2 dim)

matrix([[1, 2, 3, 4, 5]])

In [46]:
np.fromfunction(lambda i , j : i==j , (3,3)) #dim = (3,3), if i==j return true else false

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [47]:
np.fromfunction(lambda i , j: i*j, (4,4),dtype = int)  #by default dtype = float 
#i and j are representing rows and columns

array([[0, 0, 0, 0],
       [0, 1, 2, 3],
       [0, 2, 4, 6],
       [0, 3, 6, 9]])

In [48]:
np.fromfunction(lambda i , j ,z ,p: i*j*z*p , (4,3,2,2),dtype = int)

array([[[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 1]],

        [[0, 0],
         [0, 2]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 2]],

        [[0, 0],
         [0, 4]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 3]],

        [[0, 0],
         [0, 6]]]])

In [68]:
a = np.fromfunction(lambda i , j ,z : i*j*z , (4,3,2),dtype = int)

In [69]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [50]:
a.ndim

3

In [51]:
a.size   #total no. of elements in an array

24

In [52]:
a.shape

(4, 3, 2)

In [53]:
a.dtype #inside numpy there are 16,32 & 64 bit integer. By default it is 32 bit

dtype('int64')

In [54]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [84]:
pd.DataFrame(a)  #It will give error "ValueError: Must pass 2-d input. shape=(4, 3, 2)"

ValueError: Must pass 2-d input. shape=(4, 3, 2)

The reshape() function in NumPy allows you to change the shape of an array while keeping the same underlying data. It doesn't change the data itself; it merely changes how the data is interpreted in terms of its dimensions.
so to fix the above error we can simply change the dimension to 2-D

In [72]:
a.reshape(12,2) #as 'a' was having total 24 elements so the reshaped dimension should also equal to 24 elements i.e. 12*2 = 24

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 2],
       [0, 0],
       [0, 2],
       [0, 4],
       [0, 0],
       [0, 3],
       [0, 6]])

In [67]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [70]:
a.reshape(2,6,2) #as 'a' was having total 24 elements so the reshaped dimension should also equal to 24 elements i.e. 2*6*2 = 24

array([[[0, 0],
        [0, 0],
        [0, 0],
        [0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4],
        [0, 0],
        [0, 3],
        [0, 6]]])

In [74]:
a.reshape(2,4,-234)
#This line reshapes the array 'a' into a new shape '(2, 4, -234)'. The `-234` in the shape tuple indicates that NumPy should automatically compute the size of that dimension to ensure the total number of elements remains unchanged. 
#generally we use -1 when we want autmatic selection of the dimension
#always remember nly one value can be put -ve i.e. this is wrong (-1,2,-1) 
#i.e. in this case dimension would be automatically become (2,4,3)

array([[[0, 0, 0, 0, 0, 0],
        [0, 0, 0, 1, 0, 2],
        [0, 0, 0, 2, 0, 4],
        [0, 0, 0, 3, 0, 6]]])

In [55]:
a = np.fromfunction(lambda i , j : i*j , (400,100),dtype = int) #in this way we can generate a random 2d array of any length which can be then converted into a dataframe
#sometime we need such dataframe for system testing

In [56]:
a

array([[    0,     0,     0, ...,     0,     0,     0],
       [    0,     1,     2, ...,    97,    98,    99],
       [    0,     2,     4, ...,   194,   196,   198],
       ...,
       [    0,   397,   794, ..., 38509, 38906, 39303],
       [    0,   398,   796, ..., 38606, 39004, 39402],
       [    0,   399,   798, ..., 38703, 39102, 39501]])

In [57]:
pd.DataFrame(a)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
2,0,2,4,6,8,10,12,14,16,18,...,180,182,184,186,188,190,192,194,196,198
3,0,3,6,9,12,15,18,21,24,27,...,270,273,276,279,282,285,288,291,294,297
4,0,4,8,12,16,20,24,28,32,36,...,360,364,368,372,376,380,384,388,392,396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0,395,790,1185,1580,1975,2370,2765,3160,3555,...,35550,35945,36340,36735,37130,37525,37920,38315,38710,39105
396,0,396,792,1188,1584,1980,2376,2772,3168,3564,...,35640,36036,36432,36828,37224,37620,38016,38412,38808,39204
397,0,397,794,1191,1588,1985,2382,2779,3176,3573,...,35730,36127,36524,36921,37318,37715,38112,38509,38906,39303
398,0,398,796,1194,1592,1990,2388,2786,3184,3582,...,35820,36218,36616,37014,37412,37810,38208,38606,39004,39402
399,0,399,798,1197,1596,1995,2394,2793,3192,3591,...,35910,36309,36708,37107,37506,37905,38304,38703,39102,39501

In [59]:
np.random.rand(100,4)

array([[2.59519848e-01, 1.10832711e-01, 7.59651535e-01, 7.09534597e-01],
       [8.75081795e-01, 7.69526418e-01, 1.91423451e-01, 9.89984650e-01],
       [5.13679852e-01, 7.26039584e-01, 8.83673992e-01, 9.61439041e-01],
       [4.89547932e-01, 4.79993032e-01, 5.35797377e-01, 5.10128478e-01],
       [6.50719860e-01, 7.47308637e-01, 5.55846352e-01, 4.73230775e-01],
       [4.82747056e-01, 4.00799034e-01, 2.21074381e-01, 1.31628955e-02],
       [4.25979058e-01, 8.67043947e-01, 9.01576812e-01, 5.37270050e-01],
       [1.25947900e-01, 5.17716424e-01, 8.81608414e-01, 4.11092157e-01],
       [4.54970683e-01, 6.35856814e-01, 5.05860763e-01, 8.63714101e-01],
       [6.61841271e-01, 1.10197667e-02, 7.13320722e-01, 4.32344753e-01],
       [7.40275542e-01, 7.06667594e-01, 2.27914798e-01, 3.99376174e-01],
       [7.67922996e-01, 1.44172247e-01, 5.58693055e-01, 4.54471163e-01],
       [2.88243645e-01, 4.78086091e-01, 5.73705763e-02, 8.02529513e-01],
       [2.87170520e-01, 9.55998240e-01, 2.75392731e-01, 5.23581968e-01],
       [1.00067826e-01, 6.30676649e-01, 1.19892658e-01, 1.27017369e-01],
       [4.47851910e-01, 4.48713922e-01, 7.63460414e-01, 2.16940428e-01],
       [5.27195522e-01, 1.88387394e-01, 4.86790930e-01, 5.77627252e-01],
       [5.21598197e-01, 3.02239952e-01, 5.43040604e-01, 1.82667394e-01],
       [8.76865528e-01, 9.25414195e-01, 6.55746113e-02, 4.86027744e-01],
       [3.42714222e-01, 3.61068410e-02, 2.13837943e-01, 1.43524582e-01],
       [4.50730235e-01, 9.19078388e-01, 7.02409501e-01, 5.73869292e-01],
       [7.15802641e-01, 6.57672811e-01, 6.67427547e-01, 3.17882013e-02],
       [4.73915260e-01, 7.67569825e-01, 5.38346707e-01, 1.25230027e-01],
       [7.03815495e-01, 3.64994614e-01, 4.98308121e-01, 1.13493274e-01],
       [2.43045764e-01, 9.61785958e-02, 7.06328439e-01, 6.05122955e-01],
       [4.32229360e-01, 9.22932587e-01, 3.06267902e-02, 4.89194926e-01],
       [8.78009910e-01, 1.95600829e-01, 9.97334846e-02, 1.94285124e-01],
       [8.59460760e-01, 1.68603835e-02, 5.42197482e-01, 4.04118687e-01],
       [1.83455527e-02, 9.20470024e-01, 2.49624230e-01, 8.45241194e-01],
       [3.42895912e-01, 3.66216559e-01, 5.80443358e-01, 2.52223464e-01],
       [4.12328248e-02, 7.68908857e-02, 1.74979240e-01, 8.78145821e-01],
       [6.63205207e-01, 9.57847137e-01, 5.70041838e-01, 3.95525457e-01],
       [5.50333740e-01, 4.94296347e-01, 6.03084610e-01, 5.35861248e-01],
       [2.54356622e-01, 4.26243168e-01, 1.86465408e-02, 9.36167406e-01],
       [9.91447339e-01, 4.25086167e-01, 8.94879936e-01, 9.29394116e-01],
       [9.27721182e-01, 2.27560381e-02, 2.02648146e-01, 2.32859324e-01],
       [4.38269585e-01, 8.76187965e-01, 4.23488986e-01, 4.38222044e-01],
       [3.22523022e-01, 6.16935650e-01, 8.20840852e-01, 7.36188186e-01],
       [8.61049806e-01, 7.39145249e-01, 7.10971209e-01, 6.78412928e-01],
       [9.41214831e-01, 3.46821535e-01, 5.80529084e-01, 1.12053682e-01],
       [7.76048013e-02, 4.71618719e-01, 5.57105655e-01, 5.87712741e-01],
       [1.09878784e-01, 7.52769780e-01, 2.57333466e-01, 1.16601254e-01],
       [1.44768443e-01, 1.56320007e-01, 3.47267705e-01, 3.32001849e-01],
       [2.15446437e-01, 6.66765587e-01, 6.63349758e-01, 6.02649353e-02],
       [3.64136052e-01, 5.83062450e-01, 4.58893299e-01, 6.00717282e-01],
       [5.32926426e-01, 9.45747959e-01, 3.32729573e-01, 9.88345127e-02],
       [6.14675770e-01, 4.63310057e-02, 2.37129510e-01, 4.31168412e-01],
       [1.16684301e-01, 7.14977889e-01, 7.44100142e-01, 2.20308336e-01],
       [4.91956446e-01, 3.27845099e-01, 5.66005928e-01, 2.26645123e-01],
       [1.49178286e-01, 5.54255047e-01, 2.72462940e-01, 2.86007128e-01],
       [8.24857095e-02, 4.81198524e-01, 1.52720136e-01, 9.78340927e-01],
       [3.50816607e-01, 5.67274809e-01, 2.62047664e-01, 6.73244806e-01],
       [8.12857436e-01, 7.81513744e-01, 4.73468605e-02, 5.31161582e-01],
       [3.64244400e-01, 3.87544378e-01, 4.89636031e-01, 6.57193427e-01],
       [2.27223654e-01, 9.19781263e-01, 2.96924403e-01, 6.33822183e-01],
       [5.21582297e-01, 8.95452928e-01, 5.85389537e-01, 2.81485348e-01],
       [5.88275013e-01, 3.41521549e-01, 1.96161754e-01, 1.69396595e-01],
       [8.99204402e-01, 5.22337138e-02, 6.62727213e-01, 1.75102965e-01],
       [3.67629086e-01, 3.12329647e-01, 6.55106574e-01, 4.63485392e-01],
       [5.48666696e-01, 1.56939456e-01, 4.10443919e-01, 7.50332763e-01],
       [9.11060145e-01, 5.27829745e-01, 2.24748039e-01, 8.81262533e-01],
       [5.01364192e-01, 8.04524672e-01, 4.68180295e-01, 5.30225664e-01],
       [5.21466119e-01, 1.79829657e-01, 4.26154363e-01, 6.65501719e-05],
       [4.06183210e-01, 2.59262117e-01, 5.33954116e-01, 1.61342469e-01],
       [9.77763913e-01, 4.19863234e-01, 9.97117189e-01, 3.42890361e-01],
       [1.43060288e-01, 2.98049421e-01, 2.97017668e-01, 4.92934726e-01],
       [6.03027149e-02, 8.49072623e-01, 9.93100166e-01, 6.77571526e-01],
       [8.84117630e-01, 9.03343882e-01, 8.03240889e-01, 1.86991935e-01],
       [1.24349678e-01, 7.84577827e-01, 7.63651186e-01, 6.44571453e-01],
       [2.84436913e-01, 2.35401040e-01, 8.63140427e-01, 3.16788243e-01],
       [3.51786905e-02, 9.44862606e-01, 5.93110088e-01, 1.80463164e-02],
       [6.36369120e-01, 2.47772129e-01, 7.61610795e-03, 4.38175644e-01],
       [9.50643043e-01, 5.06104070e-03, 9.20473730e-01, 1.45462809e-01],
       [5.65589510e-01, 3.08319133e-01, 7.17787101e-01, 9.92521114e-01],
       [2.24124070e-01, 8.65003647e-01, 6.42756134e-01, 2.20940285e-01],
       [8.86087051e-01, 1.68329377e-01, 5.83860582e-01, 6.65623885e-01],
       [6.21277465e-01, 9.14183048e-01, 7.30259604e-01, 4.94849057e-01],
       [6.48160396e-01, 8.17351317e-01, 1.35679697e-01, 7.15537631e-01],
       [8.70171059e-01, 3.33444184e-01, 5.73667426e-01, 2.48026941e-01],
       [4.59541459e-01, 8.21834547e-01, 3.97391396e-01, 9.25327513e-01],
       [3.42208138e-01, 2.67332311e-01, 6.03136270e-01, 3.99410806e-01],
       [1.03852430e-01, 2.71297839e-01, 2.89885712e-01, 1.76672020e-01],
       [1.05722307e-01, 6.54402672e-01, 8.32696714e-01, 7.25259338e-02],
       [1.84570470e-01, 3.32842274e-01, 6.15156336e-01, 5.13049029e-01],
       [9.97859859e-01, 1.59646164e-01, 8.03102677e-01, 7.02358598e-01],
       [8.22418423e-01, 3.37772747e-01, 8.92282828e-01, 1.51413045e-01],
       [5.14204514e-02, 5.75179825e-01, 2.42185120e-01, 3.60529456e-01],
       [2.13319012e-01, 4.58360114e-01, 9.55486087e-01, 8.33078955e-01],
       [4.51045212e-01, 9.95455418e-01, 7.58976804e-01, 1.60157543e-01],
       [2.31820982e-01, 2.45732943e-01, 7.66542419e-01, 2.03006350e-01],
       [1.19682205e-02, 6.93103916e-01, 9.44998619e-01, 4.73247118e-01],
       [9.83268776e-01, 2.85132538e-01, 1.76069419e-01, 4.70775165e-01],
       [9.19902926e-01, 4.75032915e-01, 8.67790983e-01, 5.32854449e-01],
       [3.63164740e-01, 6.71022399e-01, 6.05628381e-01, 5.43550712e-01],
       [8.79425767e-01, 7.06896265e-01, 2.84007000e-02, 7.58101701e-02],
       [8.07837861e-01, 6.45026710e-02, 7.91221808e-01, 3.18965124e-01],
       [7.48793969e-01, 9.06227721e-01, 9.72656314e-01, 4.76825567e-01],
       [8.21092975e-01, 6.85664920e-01, 8.18872713e-01, 6.72114734e-01],
       [6.32760398e-01, 1.46586065e-01, 3.08709074e-01, 1.57906310e-02],
       [1.56876094e-01, 7.64550392e-01, 8.05928220e-01, 6.31867119e-01]])

In [62]:
help(np.random.rand) #always remember to use help to know the definition of function

Help on built-in function rand:

rand(...) method of numpy.random.mtrand.RandomState instance
    rand(d0, d1, ..., dn)

    Random values in a given shape.

    .. note::
        This is a convenience function for users porting code from Matlab,
        and wraps `random_sample`. That function takes a
        tuple to specify the size of the output, which is consistent with
        other NumPy functions like `numpy.zeros` and `numpy.ones`.

    Create an array of the given shape and populate it with
    random samples from a uniform distribution
    over ``[0, 1)``.

    Parameters
    ----------
    d0, d1, ..., dn : int, optional
        The dimensions of the returned array, must be non-negative.
        If no argument is given a single Python float is returned.

    Returns
    -------
    out : ndarray, shape ``(d0, d1, ..., dn)``
        Random values.

    See Also
    --------
    random

    Examples
    --------
    >>> np.random.rand(3,2)
    array([[ 0.14022471,  0.96360618],  #random
           [ 0.37601032,  0.25528411],  #random
           [ 0.49313049,  0.94909878]]) #random

In [63]:
np.random.randint(4,50) #any integer between 4 and 50

40

In [64]:
pd.DataFrame(np.random.randn(4,5)) #randn is similiar to rand but randn gives random no. with normal distribution
#i.e. average = 0 and stand. dev. (S.D) = 1

          0         1         2         3         4
0  0.552994  0.648357 -0.112381  0.085408 -0.797476
1 -0.318170 -0.944551 -2.291617 -0.715868  0.056973
2  1.267710 -0.100231  0.273271 -0.077756  0.014071
3 -1.306972  0.799499  0.992821  1.285907 -0.376107

In [77]:
list(range(4,10.5,2))  #error, bcz range function always takes integer value only
#list(range(4,10,.2))   #error, bcz range function always takes integer value only
#list(range(4,10,2))    #this will work fine

TypeError: 'float' object cannot be interpreted as an integer

In [78]:
a1 = np.arange(4,10.5,.2) #in numpy we are having arange similiar to range function but it takes float value as well

In [79]:
a1

array([ 4. ,  4.2,  4.4,  4.6,  4.8,  5. ,  5.2,  5.4,  5.6,  5.8,  6. ,
        6.2,  6.4,  6.6,  6.8,  7. ,  7.2,  7.4,  7.6,  7.8,  8. ,  8.2,
        8.4,  8.6,  8.8,  9. ,  9.2,  9.4,  9.6,  9.8, 10. , 10.2, 10.4])

In [80]:
a1[1:4] #slicing operation

array([4.2, 4.4, 4.6])

In [81]:
arr = np.random.rand(4,5)

In [82]:
arr

array([[0.80082825, 0.47040257, 0.05626057, 0.27657699, 0.60694931],
       [0.75988505, 0.84896954, 0.4344289 , 0.81433051, 0.55521476],
       [0.73829466, 0.23301508, 0.26727219, 0.42588365, 0.93161449],
       [0.73120062, 0.66005249, 0.01260113, 0.73943974, 0.46331767]])

In [84]:
arr > .5

array([[ True, False, False, False,  True],
       [ True,  True, False,  True,  True],
       [ True, False, False, False,  True],
       [ True,  True, False,  True, False]])

In [83]:
arr[arr > .5] #to get all the no. greater than .5

array([0.80082825, 0.60694931, 0.75988505, 0.84896954, 0.81433051,
       0.55521476, 0.73829466, 0.93161449, 0.73120062, 0.66005249,
       0.73943974])

In [85]:
arr

array([[0.80082825, 0.47040257, 0.05626057, 0.27657699, 0.60694931],
       [0.75988505, 0.84896954, 0.4344289 , 0.81433051, 0.55521476],
       [0.73829466, 0.23301508, 0.26727219, 0.42588365, 0.93161449],
       [0.73120062, 0.66005249, 0.01260113, 0.73943974, 0.46331767]])

In [87]:
arr[[1,2] , [2]]  #we want particular data from array. In this case we want data available at position (1,2) & (2,2) i.e. 0.4344289 & 0.26727219
#[1,2] represents the row and [2] represents the coulumn
#we know we can also convert this in dataframe and can do the same task in dataframe with loc and iloc

array([0.4344289 , 0.26727219])

In [88]:
arr = np.random.rand(8,5)

In [89]:
arr

array([[0.34229254, 0.994678  , 0.47254948, 0.6759967 , 0.00197076],
       [0.71879872, 0.97942226, 0.66279358, 0.74270746, 0.10208525],
       [0.77171633, 0.3515104 , 0.33413144, 0.24418247, 0.98475587],
       [0.59441808, 0.14195496, 0.18720303, 0.83734688, 0.92008869],
       [0.99656427, 0.35758394, 0.9673329 , 0.46556335, 0.16774544],
       [0.63712463, 0.45735805, 0.10428758, 0.20839248, 0.39515252],
       [0.70373355, 0.78112612, 0.73286284, 0.49174437, 0.03854835],
       [0.54407001, 0.24512127, 0.29438569, 0.48455504, 0.99460592]])

In [141]:
arr[1:8 , 0:3]

array([[0.42606827, 0.22185603, 0.58923839],
       [0.27972671, 0.05201551, 0.20664134],
       [0.52289791, 0.47277745, 0.57308363],
       [0.99077719, 0.73536865, 0.80803739],
       [0.60878245, 0.82748183, 0.34073401],
       [0.8256555 , 0.66887215, 0.34532617],
       [0.34353465, 0.99218211, 0.58638314]])

In [91]:
a2 = arr[1:8 , [0,1,2]] #remember, you can't write it as: arr[[1,2,3,4,5,6,7] , [1,2,3]] but you can write it as: arr[[1,2,3,4,5,6,7] , 0:3] why? -> understand yourself

In [92]:
a2

array([[0.71879872, 0.97942226, 0.66279358],
       [0.77171633, 0.3515104 , 0.33413144],
       [0.59441808, 0.14195496, 0.18720303],
       [0.99656427, 0.35758394, 0.9673329 ],
       [0.63712463, 0.45735805, 0.10428758],
       [0.70373355, 0.78112612, 0.73286284],
       [0.54407001, 0.24512127, 0.29438569]])

In [96]:
a2[0][0] = 100 #to change data at particular index

In [97]:
a2

array([[100.        ,   0.97942226,   0.66279358],
       [  0.77171633,   0.3515104 ,   0.33413144],
       [  0.59441808,   0.14195496,   0.18720303],
       [  0.99656427,   0.35758394,   0.9673329 ],
       [  0.63712463,   0.45735805,   0.10428758],
       [  0.70373355,   0.78112612,   0.73286284],
       [  0.54407001,   0.24512127,   0.29438569]])

In [98]:
a = np.array([[1,2] ,[3,4]])
b = np.array([[2,3] , [4,5]])

In [101]:
a

array([[1, 2],
       [3, 4]])

In [100]:
b

array([[2, 3],
       [4, 5]])

In [102]:
a*b #element-wise multiplication and not matrix multiplication

array([[ 2,  6],
       [12, 20]])

In [103]:
m = a@b #matrix multiplication, remember it

In [104]:
m

array([[10, 13],
       [22, 29]])

In [105]:
m/0

/tmp/ipykernel_366/3791875896.py:1: RuntimeWarning: divide by zero encountered in divide
  m/0

array([[inf, inf],
       [inf, inf]])