In [ ]:
#print , len all are function , created by other that we are using

In [ ]:
def test():
  pass

In [ ]:
def test():
  print("this is my first function")
test()

this is my first function

In [ ]:
a= test()

this is my first function

In [ ]:
a+"AnilKamat"

TypeError: ignored

In [ ]:
test()+"Anil kamat"

In [ ]:
type(test())

this is my first function

NoneType

In [ ]:
str(a)

'None'

In [ ]:
#print always return of none type

In [ ]:
def test2():
  return "this is my first keyword"

In [ ]:
test2()

'this is my first keyword'

In [ ]:

type(test2())

str

In [ ]:
"a"+test2()

'athis is my first keyword'

In [ ]:
#python apne aap hi type sense karta hai toh return us type ka no return kar usi type ka rsult milega
def test21():
  return 23450
def test211():
  return 2+4j
def test2111():
  return (2,3,4,5) 

print(type(test21()))
print(type(test211()))
print(type(test2111()))

<class 'int'>
<class 'complex'>
<class 'tuple'>

In [ ]:
def test4():
  return 4,3,"sudh",[1,2,3,4,4]

In [ ]:
test4()
#it is going tom return me a collection , we have studied tuple(immutable collection

(4, 3, 'sudh', [1, 2, 3, 4, 4])

In [ ]:
b= test4()

In [ ]:
b[1:4]

(3, 'sudh', [1, 2, 3, 4, 4])

In [ ]:
#we know that we can initalize multiple v ariable in single go
x,y,z,a= test4()

In [ ]:
print(x,y,z,a)

4 3 sudh [1, 2, 3, 4, 4]

In [ ]:
#function return multiple variable in form of tuples

In [ ]:
x,t,yu,ui,io =test4()

ValueError: ignored

In [ ]:
def test5():
  a =6*7/6
  return a
test5()

7.0

In [ ]:
l=[3,4,5,6,"sudh",[1,2,3,4,4]]

In [ ]:
def test6(a):
  n=[]
  if type(a)==list:
    for i in a:
      if type(i)==int:
        n.append(i)
  return n

In [ ]:
test6(l)

[3, 4, 5, 6]

In [ ]:


type(test6(1))

list

In [ ]:
test6([2,3,4,5,("e","rt",56),"ertyu"])

[2, 3, 4, 5]

In [ ]:
#function increases the reusablity of the code

In [ ]:
def test8(a):
  n=[]
  if type(a)==list:
    for i in a:
      if type(i)==int:
        n.append(i)
      elif type(i)==list:
        for j in i:
          if type(j) == int:
            n.append(j)
  return n

In [ ]:
test8(l)

[3, 4, 5, 6, 1, 2, 3, 4, 4]

In [ ]:
#very Very wrong code
def test9(a):
  if type(a)==list:
    for i in l:
      if type(i)==int:
        n=print(i,end=" ")
  return n

In [ ]:
test9(l)

3 4 5 6

In [ ]:
type(test9(l))

3 4 5 6

NoneType

In [ ]:
a={"a":"asdfg","b":[1,2,3,4,5,6],"d":(1,2,3,4),"c":"sudhet"}
def test10(a):
  n=[]
  if type(a) == dict:
    for i in a:
      n.append(i)
  else:
    return "you have not passed a dic"
  return n
  
print(test10(a))
print(test10(l))
type(test10(a))

['a', 'b', 'd', 'c']
you have not passed a dic

list

In [ ]:
def test11(a,b):
  n=[]
  if type(a)==list and type(b)==list:
    for i in a:
      n.append(i)
    for i in b:
      n.append(i)
  return n

a=[1,2,34,4]
b=[89,0,3]
print(test11(a,b),type(test11(a,b)))

[1, 2, 34, 4, 89, 0, 3] <class 'list'>

In [ ]:
def pattern(n):
  """This is a function which will help you to create lower bound pattern triangle"""
  for i in range(1,n+1):
    for j in range(1,i+1):
      print("*",end=" ")
    print("\n\r")

In [ ]:
pattern(5)

*

* *

* * *

* * * *

* * * * *

In [ ]:
def Create_Triangle(row_num):
  n= row_num
  k = n - 1
  for i in range(0, n):
    for j in range(0, k):
      print(end=" ")
    k = k - 1
    for j in range(0, i + 1 ):
      print("* ", end="")
    print("\n")
Create_Triangle(3)

  *

 * *

* * *

In [ ]:
Create_Triangle(8)

       *

      * *

     * * *

    * * * *

   * * * * *

  * * * * * *

 * * * * * * *

* * * * * * * *

In [ ]:
Create_Triangle(7)

      *

     * *

    * * *

   * * * *

  * * * * *

 * * * * * *

* * * * * * *

In [ ]:
help(pattern())

TypeError: ignored

In [ ]:
"""Triple code is for multi line comments"""

In [ ]:
help(pattern(3))

*

* *

* * *

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
def lenstring(a):
  if type(a)== str:
    length =0
    for i in a:
      length = length +1
  return length

lenstring("AnilKamat")

9

In [ ]:
def ReturnIndex(f,a):
  index=0
  if type(f)== tuple:
    for i in f:
      index= index +1
      if a == i:
        return index
  if type(f)== list:
    for i in f:
      index= index +1
      if a == i:
        return index
  if type(f)== dict:
    for i in f:
      index= index +1
      if a == i:
        return index

# is code ko mujhe check karna padega

In [ ]:
ReturnIndex([1,23,34,4,6,3,2,2],3)

6

In [ ]:
#write a fun which will take input as a dict and gave me out as a list of all the values even in case of 2 level nesting it should work 
# is ka logic me nahi soch pa raha hai , jab sir karayenge tab karunga

1. write a function which will try to find out len of a string without using an inbuilt len function 
2. write a function which  will be able to print an index of list element without using an index function
3. write a function which will be able to print an ip address of your system
4. write a function which will shutdown your system
5. write a function which will take input as a list with any kind of numeric value and give an out as a multiplication of 
all the numeric data l = [3.5, 6.56, 4,5,"sudh" , "ineuron" , 'fsda bootcamp 2.0']
6. write a function which will be able to read all the mails 
7 . write a function which will be able to send a mail to anyone 
8. write a function which will be able to read a doc/word file from your system

In [ ]:
import socket

In [ ]:
socket.gethostbyname(socket.gethostname())

'172.28.0.12'

In [ ]:
import os
os.system("shutdown /s /t 4")



# meaning of /s is shutdown
# meaning of /r is restart
# /t it takes time as well and restart the computer after that given time

256

In [23]:
import smtplib, ssl

In [28]:
import smtplib, ssl
port = 465 # For SSL
smtp_server= "smtp.gmail.com" 
sender_email = "anissdweamat222@gmail.com" # Enter your address
receiver_email = "andddat244@gmail.com" # Enter receiver address
password = 'rqgmdasffdrwgghzy'
message="""this is my message from python code """
context = ssl.create_default_context()
with smtplib.SMTP_SSL (smtp_server, port, context=context) as server:
   server.login(sender_email, password)
   server.sendmail(sender_email, receiver_email, message)

In [ ]:
#multiple argument
def test13(a,b,c,d,f):
  return a,b,c,d,f

test13(12,"123",{"key":56},(2,3,45),[1,2,3,"234"])

(12, '123', {'key': 56}, (2, 3, 45), [1, 2, 3, '234'])

In [ ]:
type(test13(12,"123",{"key":56},(2,3,45),[1,2,3,"234"]))

tuple

In [ ]:
#* means any number of argument 
def test14(*args):
  return args
test14(12,"123",{"key":56},(2,3,45),[1,2,3,"234"],12,"123",{"key":56},(2,3,45),[1,2,3,"234"])

(12,
 '123',
 {'key': 56},
 (2, 3, 45),
 [1, 2, 3, '234'],
 12,
 '123',
 {'key': 56},
 (2, 3, 45),
 [1, 2, 3, '234'])

In [ ]:
# args is nota a reserved keyword
#you only have to focus on *
def test14(*argtyus):
  return argtyus
test14(12,"123",{"key":56},(2,3,45),[1,2,3,"234"],12,"123",{"key":56},(2,3,45),[1,2,3,"234"])

(12,
 '123',
 {'key': 56},
 (2, 3, 45),
 [1, 2, 3, '234'],
 12,
 '123',
 {'key': 56},
 (2, 3, 45),
 [1, 2, 3, '234'])

In [ ]:
def test16(*args,a):
  return a , args

In [ ]:
test16(123,456,789)

TypeError: ignored

In [ ]:
 # I have to pass a some specific data as argument to function you have to pass this is in this way
test16(12,23,344,123,a=890)

(890, (12, 23, 344, 123))

In [ ]:
def test17(*args, a,b,c,d):
  return args , a , b, c,d
test17(12,32,21,a=1,b=2,c=3,d=8)

((12, 32, 21), 1, 2, 3, 8)

In [ ]:
def test17(a,*args):
  return args , a 
test17(12,12,32,21, a=12)

TypeError: ignored

In [ ]:
def test19(a,*args,b,c):
  return a,args,b,c

In [ ]:
test19('sdf',[2,3,45],345,5637,782,283)

TypeError: ignored

In [ ]:
test19('sdf',[2,3,45],345,5637,b=782,c=283)

('sdf', ([2, 3, 45], 345, 5637), 782, 283)

In [ ]:
# * wale ke through jo multiple argument create kiye hote hai usse pehle defaultly consider ho jatte hai but uske bad walle me bindiang karwani padti hai

In [ ]:
def anything(*args):
  for i in args:
    if type(i)==list:
      return i


anything(123,45,2,43,32,"jjd","rt",[1,322,2,2,3],[1,322,2,2,3])
#problem with that it only retuens first list in the given argument

[1, 322, 2, 2, 3]

In [ ]:
def anything1(*args):
  l=[]
  for i in args:
    if type(i)==list:
      l.append(i)
  return l

anything1(123,45,2,43,32,"jjd","rt",[1,322,2,2,3],[1,322,2,2,3])

[[1, 322, 2, 2, 3], [1, 322, 2, 2, 3]]

In [ ]:
# ** key value pair
def test23(**kwargs):
  return kwargs

In [ ]:
test23(23,34,5,6,7,7,8,9,23)

TypeError: ignored

In [ ]:
test23(A=23,N=[23,32,34,21])

{'A': 23, 'N': [23, 32, 34, 21]}

In [ ]:
test23("3"="er")

SyntaxError: ignored

In [ ]:
def test24(**anil):
  return anil

In [ ]:
test24(name="sudh",age="34",phone_number ="23421234232",mail_id="ser@gmail.com")

{'name': 'sudh',
 'age': '34',
 'phone_number': '23421234232',
 'mail_id': 'ser@gmail.com'}

In [ ]:
def test25(a,**sudh):
  return sudh,a

In [ ]:
test25(34,t=45,b=78,c=67,e=34)

({'t': 45, 'b': 78, 'c': 67, 'e': 34}, 34)

In [ ]:
#we don't be able to use * ** at a same time

In [ ]:
def test11(a,**aku, *bad):
  return aku , a, bad

SyntaxError: ignored

In [ ]:
def test112(a,*aku,**baku):
  return a,aku,baku

In [ ]:
test112(23,234,34,5,5,52,45,t=45,b=78,c=67,e=34)

(23, (234, 34, 5, 5, 52, 45), {'t': 45, 'b': 78, 'c': 67, 'e': 34})

In [ ]:
 #create a function without using name , create anoynmous function

In [ ]:
a=lambda a, b:a*b

In [ ]:
a(23,34)

782

In [ ]:
A= lambda a ,b: (a*b, a+b)

In [ ]:
A(23,32)

(736, 55)

In [ ]:
a= lambda *a:a
a(2323.23,23,12)

(2323.23, 23, 12)

In [ ]:
x =lambda *i:i**2

In [ ]:
x= lambda x:for i in x: print(i)

SyntaxError: ignored

In [ ]:
# https://www.freecodecamp.org/news/python-lambda-function-explained/#:~:text=You%20should%20use%20the%20lambda,use%20a%20user%2Ddefined%20function.

In [ ]:
#tryng differnt ways of using lamda function

In [ ]:
x = lambda x : [print(i) for i in x]

In [ ]:
x([1,2,3,4,5,6,7,8,8])

1
2
3
4
5
6
7
8
8

[None, None, None, None, None, None, None, None, None]

In [ ]:
x = lambda x :[i for i in x]

In [ ]:
x([1,2,3,4,5,5,67,8,8])

[1, 2, 3, 4, 5, 5, 67, 8, 8]

In [ ]:
l=[1,2,3,45]

In [ ]:
[i for i in l]

[1, 2, 3, 45]

In [ ]:
a=10
def test45(c,d):
  a=5
  return c*d

In [ ]:
print(test45(a,50))
print(a)

500
10

In [ ]:
x= lambda x : [i+2 for i in x]

In [ ]:
l=x([3,4,5,67,8,9])

In [ ]:
[(i**2,i+i) for i in l if i>4]

[(25, 10), (36, 12), (49, 14), (4761, 138), (100, 20), (121, 22)]

In [ ]:
print(l)

[5, 6, 7, 69, 10, 11]

In [ ]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
d={}
for i in range(10):
   d[i]=i**2

d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

**MEANING OF ITERATOR & MEANING OF GENERATOR**

In [ ]:
a=56
for i in a:
  print(i)

TypeError: ignored

In [ ]:
s= 'sudh'
for i in s:
  print(i)

s
u
d
h

In [ ]:
next(s)

TypeError: ignored

**DIfference between iterator and iterable**
if an object is holding a values with the help of some sort of indexes and if you are able to acess it one by one with the help of indexes than taht type of object is called iterable

In [ ]:
b=iter(s)

iter function will make your iterable object into iterator

In [ ]:
next(b)

's'

In [ ]:
next(b)

'u'

In [ ]:
next(b)

'd'

In [ ]:
next(b)

'h'

In [ ]:
#iterable ko iterator me change karna padega tabhi tum uske elements ko indexes se acces kar paoge

In [ ]:
iter(45)

TypeError: ignored