**TUPLES**

In [103]:
t= (1,2,3,4,5,6)

In [104]:
type(t)

tuple

In [105]:
 t1=('yui',231,231.45,True)

In [106]:
t2=()
type(t2)

tuple

In [107]:
t1[0::2]

('yui', 231.45)

In [108]:
t1[::-1]

(True, 231.45, 231, 'yui')

In [109]:
t1[0]="Anil"     #tupples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
t3=('rty',567,564.12,True,False,3+7j)

In [ ]:
t1+t3

('yui', 231, 231.45, True, 'rty', 567, 564.12, True, False, (3+7j))

In [ ]:
t1*2

('yui', 231, 231.45, True, 'yui', 231, 231.45, True)

In [ ]:
t4= (1,2,3,4,(3,4,5,6),(23,45,(3432345)))
#nested tuple

In [ ]:
type(t4)

tuple

In [ ]:
tl=([1,2,3],345)

In [ ]:
type(tl)

tuple

In [ ]:
tl[0][2]=4
#I am able to change the data in the list which is inside the tuple

In [ ]:
tl[0]='2'

TypeError: ignored

In [ ]:
t7=[1,2,3,4,(34,43,56)]

In [ ]:
#we can not add tuples with list
t7+t4
#Hetrogenous concatenation is not allowed

TypeError: ignored

In [ ]:
convertedList=[]
convertedList= t4

In [ ]:
convertedList

(1, 2, 3, 4, (3, 4, 5, 6), (23, 45, 3432345))

In [ ]:
type(convertedList)

tuple

In [ ]:
convertedListThroughFun= list(t1)

In [ ]:
type(convertedListThroughFun)

list

In [ ]:
convertedTupleThroughFunc= tuple(convertedListThroughFun)

In [ ]:
type(convertedTupleThroughFunc)

tuple

**SET**

In [ ]:
#let take a scenario in our collection we have multiple duplicate element , best easy way to do convert the given collection into set, lest see how

In [ ]:
s=(1,2,3,4,5,6,1,2,3,4,54,56,32)
type(s)

tuple

In [ ]:
FirstSet= set(s)
type(FirstSet)

set

In [ ]:
FirstSet
#see all the duplicates get removed

{1, 2, 3, 4, 5, 6, 32, 54, 56}

In [ ]:
ExpectedTbobeSet= {}
type(ExpectedTbobeSet)

dict

In [ ]:
ExpectedTobeSETsecond= {1,2,3}
type(ExpectedTobeSETsecond)

set

In [ ]:
FirstSet[0]

TypeError: 'set' object is not subscriptable

In [ ]:
#To access youhave to convert it into list
list(FirstSet)

[32, 1, 2, 3, 4, 5, 6, 54, 56]

In [ ]:
FirstSet.add("fgdhj")
FirstSet

{1, 2, 3, 32, 4, 5, 54, 56, 6, 'fgdhj'}

In [ ]:
FirstSet.add([1,3,4])

TypeError: unhashable type: 'list'

In [ ]:
FirstSet.add((1,3,4))

In [ ]:
FirstSet

{(1, 3, 4), 1, 2, 3, 32, 4, 5, 54, 56, 6, 'fgdhj'}

In [ ]:
FirstSet.add((1,3,4)) #it removes similar tuples as well

In [ ]:
FirstSet

{(1, 3, 4), 1, 2, 3, 32, 4, 5, 54, 56, 6, 'fgdhj'}

In [ ]:
#list to set , tuple to set all are possible 
FirstSet.remove(2)

In [ ]:
FirstSet.discard(3)

In [ ]:
FirstSet[0]

TypeError: 'set' object is not subscriptable

In [ ]:
{"Sudh","Sudh"}

{'Sudh'}

In [ ]:
{"Sudh","sudh"}

{'Sudh', 'sudh'}

**DICTIONARY**

In [113]:
d={}
type(d)

dict

In [ ]:
d1={3:"ANIL"}
type(d1)

dict

In [ ]:
d3={"key1":234, "Key2":"Anil" ,"Key3":[1,2,3,4,5,6],"Key4":(1,2,3,4,5),"Key5":{1,2,3,4,5,67}}

In [ ]:
d3

{'key1': 234,
 'Key2': 'Anil',
 'Key3': [1, 2, 3, 4, 5, 6],
 'Key4': (1, 2, 3, 4, 5),
 'Key5': {1, 2, 3, 4, 5, 67}}

In [ ]:
d3['key1']

234

In [ ]:
d4={@:"AnilKamat"}

SyntaxError: ignored

In [ ]:
d4={.3:"HJU="}

In [136]:
d5={"key1":234, "key2":345, "key1":[1,2,3,4,5,6]}
d5

{'key1': [1, 2, 3, 4, 5, 6], 'key2': 345}

In [137]:
d5['key1']

[1, 2, 3, 4, 5, 6]

In [110]:
d6={[1,2,3,4,5]:"sudhanshu"}

TypeError: unhashable type: 'list'

In [111]:
d6={"[1,2,3,4,5]":"sudhanshu"}

In [138]:
d5["key1"][3]

4

In [114]:
d.keys()

dict_keys([])

In [139]:
d5.keys()      #print all keys

dict_keys(['key1', 'key2'])

In [140]:
d5.values()

dict_values([[1, 2, 3, 4, 5, 6], 345])

In [ ]:
d3.items() #print key and key value pair as a list of tuples

dict_items([('key1', 234), ('Key2', 'Anil'), ('Key3', [1, 2, 3, 4, 5, 6]), ('Key4', (1, 2, 3, 4, 5)), ('Key5', {1, 2, 3, 4, 5, 67})])

In [120]:
s7=d3.items()
type(s7)

dict_items

In [141]:
d5["keyUN"]=123323

In [142]:
d5

{'key1': [1, 2, 3, 4, 5, 6], 'key2': 345, 'keyUN': 123323}

In [143]:
d5['key1']= 156775

In [144]:
d5

{'key1': 156775, 'key2': 345, 'keyUN': 123323}

In [145]:
del d5['key1']

In [146]:
d5

{'key2': 345, 'keyUN': 123323}

In [ ]:
del d5

In [134]:
d5

NameError: name 'd5' is not defined

In [157]:
d7={(1,2,3,4,6):"AnilKamat"} #key as Tuple works , but key as List doesn;t work

In [151]:
d7[(1,2,3,4,6)]

'AnilKamat'

In [152]:
d7.get("(1,2)")

In [153]:
d7.get((1,2,3,4,6))

'AnilKamat'

In [155]:
d3

{'key1': 234,
 'Key2': 'Anil',
 'Key3': [1, 2, 3, 4, 5, 6],
 'Key4': (1, 2, 3, 4, 5),
 'Key5': {1, 2, 3, 4, 5, 67}}

In [158]:
d7

{(1, 2, 3, 4, 6): 'AnilKamat'}

In [159]:
d7.update(d3)

In [160]:
d7

{(1, 2, 3, 4, 6): 'AnilKamat',
 'key1': 234,
 'Key2': 'Anil',
 'Key3': [1, 2, 3, 4, 5, 6],
 'Key4': (1, 2, 3, 4, 5),
 'Key5': {1, 2, 3, 4, 5, 67}}

In [161]:
d3+d7     # + operation doesn't work in case of dict

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
Key=("Anil", "kamat", "BCA")
Value= ("sudh", "krish", "Sunny" )
dw={}

In [ ]:
s3=dw.fromkeys(Key,Value)

In [ ]:
s3

{'Anil': ('sudh', 'krish', 'Sunny'),
 'kamat': ('sudh', 'krish', 'Sunny'),
 'BCA': ('sudh', 'krish', 'Sunny')}