In [39]:
#SQL & SQLITE is patternwise exactly same, the only difference is that in case of SQL, we use to hit our server system & in case of SQLITE we hit our local system
#if we want to store database in the same system, in that case we prefer SQLITE 
# is bydefault available in our mobile devices
#SQLITE is in memory database , in a same memory you can try to store  a data just in a form of a table , it create .db file , it will be able to store only tabular form of data 
#you can try to install data inside your RAM or harddisk of mobile, PC etc
#Many application in you mobile device is already using  kind of a databases

SQLLITE is developed in C and yes API for this database is available for all the programming languages. API means its function

In [40]:
import sqlite3
#SQLLITE is already available bydefault with python
#thats why we don't need to install it
#if you are not working with python then you can install SQLLITE from its official website
#it is in memory and bydefault binaries are available in your system

In [41]:
#creating db file in local system
db = sqlite3.connect("ineuron.db")

In [42]:
ls

 glass.data   jobdb.db-journal   SQLLITE_map_,_reduce_,_filter_,_Zip.ipynb
 ineuron.db   MongoDB/          'SQL(usingPython).ipynb'
 jobdb.db     person.db

In [43]:
c = db.cursor()
#it is the function or object we try to create , which is responsible for creating each and every database command

In [44]:
#there is little difference in datatype of SQL & SQLITE but syntax wise almost same
#here you can see text in place of varchar, real in place of float
#c.execute('create table fsds(name text , batchid int , marks real)')

In [45]:
#for text datatype you have to use single quotes & you can't use double quotes
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
for i in range(0,9):
  c.execute("insert into fsds values('aniil', {first} ,{second} )".format(first = i , second = i+100))
  #note text should be single qoutes

  # this is another way of using placeholder. inside placeholder
  # c.execute("insert into fsds values('aniil', {} ,{} )".format(i , i+100))

  # Another alternative. Here we are using positional placeholders {0} and {1}, the order in which we provide values
  # c.execute("insert into fsds values('aniil', {0} ,{1} )".format(i , i+100))

  #alternative without using placeholder:
  # c.execute(f"insert into fsds values('aniil', {i} ,{i+100} )")

In [46]:
c.execute("select * from fsds")

In [47]:
c.fetchall()

[('sudh', 34535, 454.67),
 ('aniil', 0, 100.0),
 ('aniil', 1, 101.0),
 ('aniil', 2, 102.0),
 ('aniil', 3, 103.0),
 ('aniil', 4, 104.0),
 ('aniil', 5, 105.0),
 ('aniil', 6, 106.0),
 ('aniil', 7, 107.0),
 ('aniil', 8, 108.0),
 ('sudh', 34535, 454.67),
 ('aniil', 0, 100.0),
 ('aniil', 1, 101.0),
 ('aniil', 2, 102.0),
 ('aniil', 3, 103.0),
 ('aniil', 4, 104.0),
 ('aniil', 5, 105.0),
 ('aniil', 6, 106.0),
 ('aniil', 7, 107.0),
 ('aniil', 8, 108.0)]

In [48]:
#Without the commit step, the changes would not be saved to the database file. Always remember to commit after making changes to ensure data integrity and persistence.
db.commit()

In [49]:
db.close()

**Extra note by Nirbhay**<br>
A context manager in Python is an object that defines the methods __enter__() and __exit__(). It is used to manage resources, such as file handles or database connections, in a clean and efficient way. The primary purpose is to ensure that setup and cleanup code are properly executed, even if an exception occurs during the execution.

The most common way to use a context manager is with the 'with' statement. The with statement ensures that the __enter__() method is called before the block of code inside the with statement is executed, and the __exit__() method is called afterward, even if an exception occurs within the block.

Example

Without a context manager:

    file = open('example.txt', 'w')
    file.write('Hello, World!')
    file.close()

With a context manager:

    with open('example.txt', 'w') as file:
        file.write('Hello, World!')
    #File is automatically closed when the block is exited

In the second example using a context manager, you don't need to explicitly close the file. The with statement takes care of that for you.

Similiar with db file:
    import sqlite3

    #Create a connection to the database using a context manager
    with sqlite3.connect('example.db') as conn:
        c = conn.cursor()

        # Execute some SQL statements
        c.execute("INSERT INTO my_table VALUES (1, 'Hello')")
        c.execute("UPDATE my_table SET value = 'World' WHERE id = 1")

    #Connection is automatically closed when the block is exited

In [50]:
#As we had closed the connection, we need to again connect with db file
db = sqlite3.connect("ineuron.db")

In [51]:
c = db.cursor()

In [52]:
c.execute('select * from fsds where marks > 400')

In [53]:
c.fetchall()

[('sudh', 34535, 454.67), ('sudh', 34535, 454.67)]

In [54]:
data = c.execute("select * from fsds where name = 'sudh' ")

In [55]:
#accessing last executed command without using fetchall()
for i in data:
  print(i)

('sudh', 34535, 454.67)
('sudh', 34535, 454.67)

In [56]:
data = c.execute("select name , marks from fsds")
for i in data :
    print(i)

('sudh', 454.67)
('aniil', 100.0)
('aniil', 101.0)
('aniil', 102.0)
('aniil', 103.0)
('aniil', 104.0)
('aniil', 105.0)
('aniil', 106.0)
('aniil', 107.0)
('aniil', 108.0)
('sudh', 454.67)
('aniil', 100.0)
('aniil', 101.0)
('aniil', 102.0)
('aniil', 103.0)
('aniil', 104.0)
('aniil', 105.0)
('aniil', 106.0)
('aniil', 107.0)
('aniil', 108.0)

In [57]:
c.execute("select name ,marks from fsds order  by marks ")
c.fetchall()

[('aniil', 100.0),
 ('aniil', 100.0),
 ('aniil', 101.0),
 ('aniil', 101.0),
 ('aniil', 102.0),
 ('aniil', 102.0),
 ('aniil', 103.0),
 ('aniil', 103.0),
 ('aniil', 104.0),
 ('aniil', 104.0),
 ('aniil', 105.0),
 ('aniil', 105.0),
 ('aniil', 106.0),
 ('aniil', 106.0),
 ('aniil', 107.0),
 ('aniil', 107.0),
 ('aniil', 108.0),
 ('aniil', 108.0),
 ('sudh', 454.67),
 ('sudh', 454.67)]

In [58]:
db.commit()
db.close()

It support one db at a time

In [59]:
#Remember to close the previous db before creating a new one.
#not compulsory but a good practice
db = sqlite3.connect("person.db")
c = db.cursor()

In [60]:
#c.execute("create table person_table(name text , emailid text , age int , salary real)")

In [61]:
ls

 glass.data   jobdb.db-journal   SQLLITE_map_,_reduce_,_filter_,_Zip.ipynb
 ineuron.db   MongoDB/          'SQL(usingPython).ipynb'
 jobdb.db     person.db

In [62]:
c.execute("insert into person_table values('sudh' , 'sudhanshu@ineuron.ai' , 234 , 23424)")
c.execute("insert into person_table values('prashant' ,'prashant@ineuron.ai' , 345 , 23543543)")
c.execute("insert into person_table values('krish' , 'krish@ineuron.ai' , 2345 ,34534564)")
c.execute("insert into person_table values('sunnny' ,'sunny@ineuron.ai' , 2354,7789797)")

In [63]:
for i in range(0,10):
  c.execute("insert into person_table values('Anil{0}' , 'emailid{1}@gmail.com' , {2} , {3})".format(i , i+10 , i+11 , i+15))

In [64]:
c.execute("select * from person_table")
c.fetchall()

[('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0),
 ('prashant', 'prashant@ineuron.ai', 345, 23543543.0),
 ('krish', 'krish@ineuron.ai', 2345, 34534564.0),
 ('sunnny', 'sunny@ineuron.ai', 2354, 7789797.0),
 ('Anil0', 'emailid10@gmail.com', 11, 15.0),
 ('Anil1', 'emailid11@gmail.com', 12, 16.0),
 ('Anil2', 'emailid12@gmail.com', 13, 17.0),
 ('Anil3', 'emailid13@gmail.com', 14, 18.0),
 ('Anil4', 'emailid14@gmail.com', 15, 19.0),
 ('Anil5', 'emailid15@gmail.com', 16, 20.0),
 ('Anil6', 'emailid16@gmail.com', 17, 21.0),
 ('Anil7', 'emailid17@gmail.com', 18, 22.0),
 ('Anil8', 'emailid18@gmail.com', 19, 23.0),
 ('Anil9', 'emailid19@gmail.com', 20, 24.0),
 ('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0),
 ('prashant', 'prashant@ineuron.ai', 345, 23543543.0),
 ('krish', 'krish@ineuron.ai', 2345, 34534564.0),
 ('sunnny', 'sunny@ineuron.ai', 2354, 7789797.0),
 ('Anil0', 'emailid10@gmail.com', 11, 15.0),
 ('Anil1', 'emailid11@gmail.com', 12, 16.0),
 ('Anil2', 'emailid12@gmail.com', 13, 17.0),
 ('Anil3', 'emailid13@gmail.com', 14, 18.0),
 ('Anil4', 'emailid14@gmail.com', 15, 19.0),
 ('Anil5', 'emailid15@gmail.com', 16, 20.0),
 ('Anil6', 'emailid16@gmail.com', 17, 21.0),
 ('Anil7', 'emailid17@gmail.com', 18, 22.0),
 ('Anil8', 'emailid18@gmail.com', 19, 23.0),
 ('Anil9', 'emailid19@gmail.com', 20, 24.0),
 ('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0),
 ('prashant', 'prashant@ineuron.ai', 345, 23543543.0),
 ('krish', 'krish@ineuron.ai', 2345, 34534564.0),
 ('sunnny', 'sunny@ineuron.ai', 2354, 7789797.0),
 ('Anil0', 'emailid10@gmail.com', 11, 15.0),
 ('Anil1', 'emailid11@gmail.com', 12, 16.0),
 ('Anil2', 'emailid12@gmail.com', 13, 17.0),
 ('Anil3', 'emailid13@gmail.com', 14, 18.0),
 ('Anil4', 'emailid14@gmail.com', 15, 19.0),
 ('Anil5', 'emailid15@gmail.com', 16, 20.0),
 ('Anil6', 'emailid16@gmail.com', 17, 21.0),
 ('Anil7', 'emailid17@gmail.com', 18, 22.0),
 ('Anil8', 'emailid18@gmail.com', 19, 23.0),
 ('Anil9', 'emailid19@gmail.com', 20, 24.0),
 ('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0),
 ('prashant', 'prashant@ineuron.ai', 345, 23543543.0),
 ('krish', 'krish@ineuron.ai', 2345, 34534564.0),
 ('sunnny', 'sunny@ineuron.ai', 2354, 7789797.0),
 ('Anil0', 'emailid10@gmail.com', 11, 15.0),
 ('Anil1', 'emailid11@gmail.com', 12, 16.0),
 ('Anil2', 'emailid12@gmail.com', 13, 17.0),
 ('Anil3', 'emailid13@gmail.com', 14, 18.0),
 ('Anil4', 'emailid14@gmail.com', 15, 19.0),
 ('Anil5', 'emailid15@gmail.com', 16, 20.0),
 ('Anil6', 'emailid16@gmail.com', 17, 21.0),
 ('Anil7', 'emailid17@gmail.com', 18, 22.0),
 ('Anil8', 'emailid18@gmail.com', 19, 23.0),
 ('Anil9', 'emailid19@gmail.com', 20, 24.0)]

In [65]:
db.commit()

In [66]:
db.close()

In [67]:
ls

 glass.data   jobdb.db-journal   SQLLITE_map_,_reduce_,_filter_,_Zip.ipynb
 ineuron.db   MongoDB/          'SQL(usingPython).ipynb'
 jobdb.db     person.db

In [68]:
db = sqlite3.connect("ineuron.db")
c = db.cursor()

In [69]:
# Get a list of all tables in the database
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
c.fetchall()

[('fsds',)]

In [70]:
#dropping table
#c.execute("drop table fsds")

In [71]:
#c.execute('select * from fsds')

In [72]:
db.commit()

In [73]:
db.close()

In SQLite, there is no direct command to drop an entire database like in some other database management systems. Instead, you typically delete the database file itself. Here's an example using Python:

In [74]:
# import os

# # Replace 'example.db' with the actual database file name
# database_file = 'example.db'

# # Close any existing connections to the database if open

# # Check if the database file exists
# if os.path.exists(database_file):
#     # Close any existing connections to the database before deleting
#     # ...

#     # Delete the database file
#     os.remove(database_file)
#     print(f"Database '{database_file}' deleted.")
# else:
#     print(f"Database '{database_file}' does not exist.")

In [75]:
db = sqlite3.connect("person.db")
c = db.cursor()

In [76]:
data = c.execute('select * from person_table limit 2')
for i in data:
  print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('prashant', 'prashant@ineuron.ai', 345, 23543543.0)

JOIN (Important)

In [77]:
db.close()

In [78]:
db = sqlite3.connect("jobdb.db")
c = db.cursor()

In [79]:
c.execute('create table student(student_id int , student_name text , student_mailid text , marks int)')

OperationalError: table student already exists

In [80]:
c.execute('create table address(student_id int ,pincode int  , location text , nearby text , phone_no int)')

In [98]:
c.execute("insert into student values(234,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(235,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(236,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(237,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(238,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(239,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2310,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2311,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2343,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(23345,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")

In [82]:
for i in range(0,10):
  c.execute("insert into student values('{0}' , 'Anil{1}' , 'mailserial{2}@gmail.com' , {3})".format(i+200 , i+10 , i+11 , i+150))

In [83]:
c.execute("insert into address values(235 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(236 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(237 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(238 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(239 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(210 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23654 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(235345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23665 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23609 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23632 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23698 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23690 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")

In [84]:
for i in range(0,10):
  c.execute("insert into address values('{0}' , '1100{1}' , 'Block{2}' ,'street{3}' , 987564{4})".format(i+200 , i+10 ,i+9, i+11 , i+150))

In [85]:
for i in c.execute("select * from address"):
    print(i)

(235, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(200, 110010, 'Block9', 'street11', 987564150)
(201, 110011, 'Block10', 'street12', 987564151)
(202, 110012, 'Block11', 'street13', 987564152)
(203, 110013, 'Block12', 'street14', 987564153)
(204, 110014, 'Block13', 'street15', 987564154)
(205, 110015, 'Block14', 'street16', 987564155)
(206, 110016, 'Block15', 'street17', 987564156)
(207, 110017, 'Block16', 'street18', 987564157)
(208, 110018, 'Block17', 'street19', 987564158)
(209, 110019, 'Block18', 'street20', 987564159)

In [86]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(200, 'Anil10', 'mailserial11@gmail.com', 150)
(201, 'Anil11', 'mailserial12@gmail.com', 151)
(202, 'Anil12', 'mailserial13@gmail.com', 152)
(203, 'Anil13', 'mailserial14@gmail.com', 153)
(204, 'Anil14', 'mailserial15@gmail.com', 154)
(205, 'Anil15', 'mailserial16@gmail.com', 155)
(206, 'Anil16', 'mailserial17@gmail.com', 156)
(207, 'Anil17', 'mailserial18@gmail.com', 157)
(208, 'Anil18', 'mailserial19@gmail.com', 158)
(209, 'Anil19', 'mailserial20@gmail.com', 159)

In [87]:
#you can't use Where in place of ON bcz WHEN is a filter operation while ON is joining tables
data = c.execute("select * from student s left join address a on s.student_id = a.student_id where a.student_id is not null")

In [88]:
for i in data:
  print(i)

(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 235, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(200, 'Anil10', 'mailserial11@gmail.com', 150, 200, 110010, 'Block9', 'street11', 987564150)
(201, 'Anil11', 'mailserial12@gmail.com', 151, 201, 110011, 'Block10', 'street12', 987564151)
(202, 'Anil12', 'mailserial13@gmail.com', 152, 202, 110012, 'Block11', 'street13', 987564152)
(203, 'Anil13', 'mailserial14@gmail.com', 153, 203, 110013, 'Block12', 'street14', 987564153)
(204, 'Anil14', 'mailserial15@gmail.com', 154, 204, 110014, 'Block13', 'street15', 987564154)
(205, 'Anil15', 'mailserial16@gmail.com', 155, 205, 110015, 'Block14', 'street16', 987564155)
(206, 'Anil16', 'mailserial17@gmail.com', 156, 206, 110016, 'Block15', 'street17', 987564156)
(207, 'Anil17', 'mailserial18@gmail.com', 157, 207, 110017, 'Block16', 'street18', 987564157)
(208, 'Anil18', 'mailserial19@gmail.com', 158, 208, 110018, 'Block17', 'street19', 987564158)
(209, 'Anil19', 'mailserial20@gmail.com', 159, 209, 110019, 'Block18', 'street20', 987564159)

In [89]:
#give all the recalls from student table and its corresponding address values based on common student id
data = c.execute("select * from student s left join address a on s.student_id = a.student_id")
for i in data:
  print(i)

#s and a are alias, we have already talked about it in SQL part

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 235, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(200, 'Anil10', 'mailserial11@gmail.com', 150, 200, 110010, 'Block9', 'street11', 987564150)
(201, 'Anil11', 'mailserial12@gmail.com', 151, 201, 110011, 'Block10', 'street12', 987564151)
(202, 'Anil12', 'mailserial13@gmail.com', 152, 202, 110012, 'Block11', 'street13', 987564152)
(203, 'Anil13', 'mailserial14@gmail.com', 153, 203, 110013, 'Block12', 'street14', 987564153)
(204, 'Anil14', 'mailserial15@gmail.com', 154, 204, 110014, 'Block13', 'street15', 987564154)
(205, 'Anil15', 'mailserial16@gmail.com', 155, 205, 110015, 'Block14', 'street16', 987564155)
(206, 'Anil16', 'mailserial17@gmail.com', 156, 206, 110016, 'Block15', 'street17', 987564156)
(207, 'Anil17', 'mailserial18@gmail.com', 157, 207, 110017, 'Block16', 'street18', 987564157)
(208, 'Anil18', 'mailserial19@gmail.com', 158, 208, 110018, 'Block17', 'street19', 987564158)
(209, 'Anil19', 'mailserial20@gmail.com', 159, 209, 110019, 'Block18', 'street20', 987564159)

In [90]:
c.execute("insert into student values(420 , 'Anil{1}' , 'mailserial{2}@gmail.com' , 789)")

In [ ]:
# right and full join is not supported in sqlite 3 but are available in SQL

In [91]:
#now you will see all data from address table first
data = c.execute("select * from address s left join student a on s.student_id = a.student_id")
for i in data:
  print(i)

(235, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(200, 110010, 'Block9', 'street11', 987564150, 200, 'Anil10', 'mailserial11@gmail.com', 150)
(201, 110011, 'Block10', 'street12', 987564151, 201, 'Anil11', 'mailserial12@gmail.com', 151)
(202, 110012, 'Block11', 'street13', 987564152, 202, 'Anil12', 'mailserial13@gmail.com', 152)
(203, 110013, 'Block12', 'street14', 987564153, 203, 'Anil13', 'mailserial14@gmail.com', 153)
(204, 110014, 'Block13', 'street15', 987564154, 204, 'Anil14', 'mailserial15@gmail.com', 154)
(205, 110015, 'Block14', 'street16', 987564155, 205, 'Anil15', 'mailserial16@gmail.com', 155)
(206, 110016, 'Block15', 'street17', 987564156, 206, 'Anil16', 'mailserial17@gmail.com', 156)
(207, 110017, 'Block16', 'street18', 987564157, 207, 'Anil17', 'mailserial18@gmail.com', 157)
(208, 110018, 'Block17', 'street19', 987564158, 208, 'Anil18', 'mailserial19@gmail.com', 158)
(209, 110019, 'Block18', 'street20', 987564159, 209, 'Anil19', 'mailserial20@gmail.com', 159)

In [100]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [101]:
c.execute("delete from student where student_id > 2000")

In [102]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [107]:
c.execute("update student set student_id = 1000 where student_id = 236")
c.execute("select * from student")
c.fetchall()

[(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (1000, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)]

In [108]:
db.commit()

In [109]:
db.close()

# Map , Reduce , Filter

In [110]:
l = [1,2,3,4,5,6]

In [111]:
l1 = []
for i in l:
  l1.append(i+5)
l1

[6, 7, 8, 9, 10, 11]

In [112]:
[i+5 for i in l]

[6, 7, 8, 9, 10, 11]

In [113]:
def fun1(a):
  return a+5

The map() function in Python is a built-in function that applies a specified function to all the items in an iterable (e.g., a list, tuple, or string) and returns an iterable (usually a list) containing the results. <br>
map() always takes first argument as function and second argument as a iterable object. <br>

syntax:

    map(function, iterable, ...)

'function': The function to apply to each item in the iterable.<br>
'iterable': The iterable (e.g., list, tuple) whose elements will be passed to the function.

In [117]:
list(map(fun1, l)) #typecasting into list

[6, 7, 8, 9, 10, 11]

In [118]:
def test1(a) : 
    return a*3454+454

list(map(test1,l))

[3908, 7362, 10816, 14270, 17724, 21178]

In [121]:
l1 = ['234','345','543','5435','543','5435']

In [122]:
#our task is to typecaste each value inside list l1 into int
def typecaster(a):
  return int(a)

In [123]:
list(map(typecaster, l1))

#map function has make our task easier

[234, 345, 543, 5435, 543, 5435]

In [ ]:
#ist argumnet is function , 2nd argumnet is iterable

In [125]:
#map() with lambda function
list(map(lambda x : int(x) , l1))

[234, 345, 543, 5435, 543, 5435]

In [126]:
list(map(lambda x : x+5 , l))

[6, 7, 8, 9, 10, 11]

In [ ]:
# map is nothing just give a function and map it with a dataset and can be used with all the iterable

**FILTER() FUNCTION**

In [127]:
l = [4,5,6,7,78,8,78]

In [128]:
def test4(a):
  if a%2 == 0:
    return a

In [129]:
[i for i in l if i%2 ==0]

[4, 6, 78, 8, 78]

In [132]:
list(filter(test4 , l))

#list(map(test4,l))

[4, 6, 78, 8, 78]

In [133]:
list(filter(lambda x : x%2 == 0, l))

[4, 6, 78, 8, 78]

In [134]:
 list(filter(lambda x : x+5 , l))
 # this line return tha same list because filter works on true or false

[4, 5, 6, 7, 78, 8, 78]

**REDUCE() FUNCTION**

In [135]:
from functools import reduce

In [137]:
l = [23,45,12,3,45]
# this is the list and i have to perform a summation operation

In [139]:
sum(l) #sum is a inbuilt function not related to reduce()

128

In [140]:
def test(a,b):
   return a+b

In [141]:
reduce(test,l)

128

In [142]:
def test(a,b):
   return a*b
reduce(test , l)

1676700

In [36]:
def test(a,b):
   return a/b
reduce(test , l)   #sequential division

0.00031550068587105626

In [37]:
#it remembers previous rsult and try to pass it to given function both previous function value and next element from iterable object

In [38]:
# one exception in reduce
l=[3]
reduce(test , l)
#by default here  it consider 2nd to be zero

3

In [143]:
reduce(lambda x,y :x+y , l)

128

**ZIP() FUNCTION**

In [43]:
l = [1,23,43,55,6,77,788]
l1 = [1, 3, 43, 5, 5, 6,7,43,5,6]
l3 = [354, 6, 4, 4, 32, 56, 2]
l4 = ["a" , "e" , "e" , "r" , "t" , "g"]

In [44]:
list(zip(l , l1, l3 , l4))

[(1, 1, 354, 'a'),
 (23, 3, 6, 'e'),
 (43, 43, 4, 'e'),
 (55, 5, 4, 'r'),
 (6, 5, 32, 't'),
 (77, 6, 56, 'g')]

In [45]:
# zip coonsider size according to 1st argumnt size

Task for today :<br>
  dataset -   https://archive.ics.uci.edu/ml/datasets/Bag+of+Words<br>

  Download all the bottom 5 file from link
    
    q1 = try to find out a count of each and every word in a respective file return a list of tuple with word and its respective count <br>
        sample example -  [('sudh', 6 ) , ('kumar',3)]

    q2 = try to perform a reduce operation to get a count of    all the word starting with same alphabet<br>
        sample examle = [(a,56) , (b,34),...........]

    q3 = Try to filter out all the words from dataset . 
        sample examle = .001.abstract -> abstract
                      = .002 -> delete
                      
    q4 = create a tuple set of all the records avaialble in all the five file and then store it in sqllite DB . 
        sample examle = (aah,>=,354,fdsf,wer)
    
    Top 10 will be able to get kids neuron

In [50]:
# is task ka solution alag se ek main folder banunga usme dalunga solution jisme sarre given task ke solution honge with all given coding standard