In [ ]:
# sqlite is in memory database , in a same memory you can try to store  a data just in a form of a table , it create .db file , it will be able to store only tabular form of data

In [ ]:
import sqlite3
# it is in memory and binary are available in your system

In [ ]:
db = sqlite3.connect("AnilDATA.db")

In [ ]:
ls

AnilDATA.db  sample_data/

In [ ]:
c = db.cursor()
#it is the function or object we try to create , which is responsible for creating each and every database command

In [ ]:
c.execute('create table fsds(name text, student_id real, batch_no int)')

In [ ]:
c.execute("insert into fsds values('aniil', 345 , 456 )")
for i in range(0,9):
  c.execute("insert into fsds values('aniil', {0} ,{1} )".format(i , i+100))
 #note text should be single qoutes

In [ ]:
c.execute("select * from fsds")

In [ ]:
c.fetchall()

[('aniil', 345.0, 456),
 ('aniil', 5.0, 3),
 ('aniil', 5.0, 3),
 ('aniil', 5.0, 3),
 ('aniil', 5.0, 3),
 ('aniil', 5.0, 3),
 ('aniil', 5.0, 3),
 ('aniil', 5.0, 3),
 ('aniil', 5.0, 3),
 ('aniil', 5.0, 3),
 ('aniil', 5.0, 3),
 ('aniil', 345.0, 456),
 ('aniil', 0.0, 1),
 ('aniil', 1.0, 2),
 ('aniil', 345.0, 456),
 ('aniil', 0.0, 100),
 ('aniil', 1.0, 101),
 ('aniil', 2.0, 102),
 ('aniil', 3.0, 103),
 ('aniil', 4.0, 104),
 ('aniil', 5.0, 105),
 ('aniil', 6.0, 106),
 ('aniil', 7.0, 107),
 ('aniil', 8.0, 108)]

In [ ]:
db.commit()

In [ ]:
db.close()

In [ ]:
db = sqlite3.connect("AnilDATA.db")

In [ ]:
c = db.cursor()

In [ ]:
c.execute('select student_id from fsds where batch_no > 3')

In [ ]:
c.fetchall()

[(345.0,)]

In [ ]:
d = c.execute('select * from fsds where batch_no > 3')

In [ ]:
for i in d:
  print(i)

('aniil', 345.0, 456)

In [ ]:
c.execute('select student_id from fsds where batch_no = 3')
c.fetchall()

[(5.0,),
 (5.0,),
 (5.0,),
 (5.0,),
 (5.0,),
 (5.0,),
 (5.0,),
 (5.0,),
 (5.0,),
 (5.0,)]

In [ ]:
c.execute('select name, batch_no from fsds order by batch_no')
c.fetchall()

[('aniil', 1),
 ('aniil', 2),
 ('aniil', 3),
 ('aniil', 3),
 ('aniil', 3),
 ('aniil', 3),
 ('aniil', 3),
 ('aniil', 3),
 ('aniil', 3),
 ('aniil', 3),
 ('aniil', 3),
 ('aniil', 3),
 ('aniil', 100),
 ('aniil', 101),
 ('aniil', 102),
 ('aniil', 103),
 ('aniil', 104),
 ('aniil', 105),
 ('aniil', 106),
 ('aniil', 107),
 ('aniil', 108),
 ('aniil', 456),
 ('aniil', 456),
 ('aniil', 456)]

In [ ]:
db.commit()
db.close()

It support one db at a time

In [ ]:
db2 = sqlite3.connect("person.db")
c = db2.cursor()

In [ ]:
c.execute('create table person_table(name text, email_id text, age int, salary int)')

In [ ]:
ls

AnilDATA.db  person.db  sample_data/

In [ ]:
c.execute("insert into person_table values('Anil' , 'emailid@gmail.com' , 123 , 9000)")

In [ ]:
for i in range(0,10):
  c.execute("insert into person_table values('Anil{0}' , 'emailid{1}@gmail.com' , {2} , {3})".format(i , i+10 , i+11 , i+15))

In [ ]:
c.execute("select * from person_table")
c.fetchall()

[('Anil', 'emailid@gmail.com', 123, 9000),
 ('Anil0', 'emailid10@gmail.com', 11, 15),
 ('Anil1', 'emailid11@gmail.com', 12, 16),
 ('Anil2', 'emailid12@gmail.com', 13, 17),
 ('Anil3', 'emailid13@gmail.com', 14, 18),
 ('Anil4', 'emailid14@gmail.com', 15, 19),
 ('Anil5', 'emailid15@gmail.com', 16, 20),
 ('Anil6', 'emailid16@gmail.com', 17, 21),
 ('Anil7', 'emailid17@gmail.com', 18, 22),
 ('Anil8', 'emailid18@gmail.com', 19, 23),
 ('Anil9', 'emailid19@gmail.com', 20, 24)]

In [ ]:
db2.commit()

In [ ]:
db2.close()

In [ ]:
db = sqlite3.connect("AnilDATA.db")
c = db.cursor()

In [ ]:
c.execute("drop table fsds")

In [ ]:
db.commit()

In [ ]:
db.close()

In [ ]:
db2 = sqlite3.connect("person.db")
c = db2.cursor()

In [ ]:
data = c.execute('select * from person_table limit 2')
for i in data:
  print(i)

('Anil', 'emailid@gmail.com', 123, 9000)
('Anil0', 'emailid10@gmail.com', 11, 15)

JOIN

In [ ]:
db.close()

In [ ]:
db2 = sqlite3.connect("job.db")
c = db2.cursor()

In [ ]:
c.execute("create table student (student_id int, student_name text, student mail_d text, marks int)")

In [ ]:
c.execute("create table address(student_id int, pincode int , location text, nearby text, phone_no int)")

In [ ]:
for i in range(0,10):
  c.execute("insert into student values('{0}' , 'Anil{1}' , 'mailserial{2}@gmail.com' , {3})".format(i+200 , i+10 , i+11 , i+150))

In [ ]:
for i in range(0,10):
  c.execute("insert into address values('{0}' , '1100{1}' , 'Block{2}' ,'street{3}' , 987564{4})".format(i+200 , i+10 ,i+9, i+11 , i+150))

In [ ]:
data = c.execute("select * from student s left join address a on s.student_id = a.student_id where a.student_id is not null")

In [ ]:
for i in data:
  print(i)

(200, 'Anil10', 'mailserial11@gmail.com', 150, 200, 110010, 'Block9', 'street11', 987564150)
(201, 'Anil11', 'mailserial12@gmail.com', 151, 201, 110011, 'Block10', 'street12', 987564151)
(202, 'Anil12', 'mailserial13@gmail.com', 152, 202, 110012, 'Block11', 'street13', 987564152)
(203, 'Anil13', 'mailserial14@gmail.com', 153, 203, 110013, 'Block12', 'street14', 987564153)
(204, 'Anil14', 'mailserial15@gmail.com', 154, 204, 110014, 'Block13', 'street15', 987564154)
(205, 'Anil15', 'mailserial16@gmail.com', 155, 205, 110015, 'Block14', 'street16', 987564155)
(206, 'Anil16', 'mailserial17@gmail.com', 156, 206, 110016, 'Block15', 'street17', 987564156)
(207, 'Anil17', 'mailserial18@gmail.com', 157, 207, 110017, 'Block16', 'street18', 987564157)
(208, 'Anil18', 'mailserial19@gmail.com', 158, 208, 110018, 'Block17', 'street19', 987564158)
(209, 'Anil19', 'mailserial20@gmail.com', 159, 209, 110019, 'Block18', 'street20', 987564159)

In [ ]:
data = c.execute("select * from student s left join address a on s.student_id = a.student_id")
for i in data:
  print(i)

(200, 'Anil10', 'mailserial11@gmail.com', 150, 200, 110010, 'Block9', 'street11', 987564150)
(201, 'Anil11', 'mailserial12@gmail.com', 151, 201, 110011, 'Block10', 'street12', 987564151)
(202, 'Anil12', 'mailserial13@gmail.com', 152, 202, 110012, 'Block11', 'street13', 987564152)
(203, 'Anil13', 'mailserial14@gmail.com', 153, 203, 110013, 'Block12', 'street14', 987564153)
(204, 'Anil14', 'mailserial15@gmail.com', 154, 204, 110014, 'Block13', 'street15', 987564154)
(205, 'Anil15', 'mailserial16@gmail.com', 155, 205, 110015, 'Block14', 'street16', 987564155)
(206, 'Anil16', 'mailserial17@gmail.com', 156, 206, 110016, 'Block15', 'street17', 987564156)
(207, 'Anil17', 'mailserial18@gmail.com', 157, 207, 110017, 'Block16', 'street18', 987564157)
(208, 'Anil18', 'mailserial19@gmail.com', 158, 208, 110018, 'Block17', 'street19', 987564158)
(209, 'Anil19', 'mailserial20@gmail.com', 159, 209, 110019, 'Block18', 'street20', 987564159)
(420, 'Anil{1}', 'mailserial{2}@gmail.com', 789, None, None, None, None, None)

In [ ]:
c.execute("insert into student values(420 , 'Anil{1}' , 'mailserial{2}@gmail.com' , 789)")

In [ ]:
# right and full join is not supported in sqlite 3

In [ ]:
data = c.execute("select * from address s left join student a on s.student_id = a.student_id")
for i in data:
  print(i)

(200, 110010, 'Block9', 'street11', 987564150, 200, 'Anil10', 'mailserial11@gmail.com', 150)
(201, 110011, 'Block10', 'street12', 987564151, 201, 'Anil11', 'mailserial12@gmail.com', 151)
(202, 110012, 'Block11', 'street13', 987564152, 202, 'Anil12', 'mailserial13@gmail.com', 152)
(203, 110013, 'Block12', 'street14', 987564153, 203, 'Anil13', 'mailserial14@gmail.com', 153)
(204, 110014, 'Block13', 'street15', 987564154, 204, 'Anil14', 'mailserial15@gmail.com', 154)
(205, 110015, 'Block14', 'street16', 987564155, 205, 'Anil15', 'mailserial16@gmail.com', 155)
(206, 110016, 'Block15', 'street17', 987564156, 206, 'Anil16', 'mailserial17@gmail.com', 156)
(207, 110017, 'Block16', 'street18', 987564157, 207, 'Anil17', 'mailserial18@gmail.com', 157)
(208, 110018, 'Block17', 'street19', 987564158, 208, 'Anil18', 'mailserial19@gmail.com', 158)
(209, 110019, 'Block18', 'street20', 987564159, 209, 'Anil19', 'mailserial20@gmail.com', 159)

In [ ]:
c.execute("delete from student where student_id > 208")

In [ ]:
c.execute("update student set student_id = 1000 where student_id = 207")
c.fetchall()

[]

In [ ]:
c.execute("select * from student")
c.fetchall()

[(200, 'Anil10', 'mailserial11@gmail.com', 150),
 (201, 'Anil11', 'mailserial12@gmail.com', 151),
 (202, 'Anil12', 'mailserial13@gmail.com', 152),
 (203, 'Anil13', 'mailserial14@gmail.com', 153),
 (204, 'Anil14', 'mailserial15@gmail.com', 154),
 (205, 'Anil15', 'mailserial16@gmail.com', 155),
 (206, 'Anil16', 'mailserial17@gmail.com', 156),
 (1000, 'Anil17', 'mailserial18@gmail.com', 157),
 (208, 'Anil18', 'mailserial19@gmail.com', 158)]

In [ ]:
db2.commit()

In [ ]:
db2.close()

# Map , Reduce , Filter

In [ ]:
l = [1,2,3,4,5,6]

In [ ]:
l1 = []
for i in l:
  l1.append(i+5)
l1

[6, 7, 8, 9, 10, 11]

In [ ]:
[i+5 for i in l]

[6, 7, 8, 9, 10, 11]

In [ ]:
def fun1(a):
  return a+5

In [ ]:
list(map(fun1, l1))

[11, 12, 13, 14, 15, 16]

In [ ]:
l1 = [ '233', '123', '345','234']

In [ ]:
def typecaster(a):
  return int(a)

In [ ]:
list(map(typecaster, l1))

[233, 123, 345, 234]

In [ ]:
#ist argumnet is function , 2nd argumnet is iterable

In [ ]:
list(map(lambda x : int(x) , l1))

[233, 123, 345, 234]

In [ ]:
list(map(lambda x : x+5 , l))

[6, 7, 8, 9, 10, 11]

In [ ]:
# map is nothing just give a function and map it with a dataset and can be used with all the iterable

In [ ]:
l = [2,34,5,6,8,22,12]

In [ ]:
def test4(a):
  if a%2 == 0:
    return a

In [ ]:
[i for i in l if i%2 ==0]

[2, 34, 6, 8, 22, 12]

In [ ]:
list(filter(test4 , l))

[2, 34, 6, 8, 22, 12]

In [ ]:
list(filter(lambda x : x%2 == 0, l))

[2, 34, 6, 8, 22, 12]

In [25]:
 list(filter(lambda x : x+5 , l))
 # this line return tha same list because filter works on true or false

[2, 34, 5, 6, 8, 22, 12]

In [26]:
from functools import reduce

In [29]:
l = [23,45,12,3,45]
# tis is the list and i have to perform a summation operation

In [30]:
sum(l)

128

In [31]:
def test(a,b):
   return a+b

In [32]:
reduce(test,l)

128

In [35]:
def test(a,b):
   return a*b
reduce(test , l)

1676700

In [36]:
def test(a,b):
   return a/b
reduce(test , l)

0.00031550068587105626

In [37]:
#it remembers previous rsult and try to pass it to given function both previous function value and next element from iterable object

In [38]:
# one exception in reduce
l=[3]
reduce(test , l)
#by default here  it consider 2nd to be zero

3

In [43]:
l = [1,23,43,55,6,77,788]
l1 = [1, 3, 43, 5, 5, 6,7,43,5,6]
l3 = [354, 6, 4, 4, 32, 56, 2]
l4 = ["a" , "e" , "e" , "r" , "t" , "g"]

In [44]:
list(zip(l , l1, l3 , l4))

[(1, 1, 354, 'a'),
 (23, 3, 6, 'e'),
 (43, 43, 4, 'e'),
 (55, 5, 4, 'r'),
 (6, 5, 32, 't'),
 (77, 6, 56, 'g')]

In [45]:
# zip coonsider size according to 1st argumnt size

"""Task for today :
  dataset -   https://archive.ics.uci.edu/ml/datasets/Bag+of+Words
    
    q1 = try to find out a count of each and every word in a respective file return a list of tuple with word and its respective count 
       sample example -  [('sudh', 6 ) , ('kumar',3)]
    q2 = try to perform a reduce operation to get a count of all the word starting with same alphabet
        sample examle = [(a,56) , (b,34),...........]
    q3 = Try to filter out all the words from dataset . 
    
    .001.abstract = abstract
    =.002 = delete
    q4 = create a tuple set of all the records avaialble in all the five file and then store it in sqllite DB . 
    (aah,>=,354,fdsf,wer)
    
    Top 10 will be able to get kids neuron """

In [50]:
# is task ka solution alag se ek main folder banunga usme dalunga solution jisme sarre given task ke solution honge with all given coding standard